@maroon: #580421;
@blue: #004069;
@red: #b92400;


* {
	border: 1px solid magenta;
	box-sizing: border-box;
}

body, header, footer {
	width: 100%;
	background: lightgrey;
	color: white;
	text-align: center;
}

.header-top, .footer {
	background: @blue;
}
.header-bottom {
	background: @maroon;
}

.main {
	position: relative;
	
	.col {
		width: 50%;
		float: left;
	}
	.candidates-col {
		position: absolute;
		width: 6rem;
		left: calc(50% - 3rem);
		top: 0;
	}
}

