* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
}
body,
header,
footer {
  width: 100%;
  color: white;
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
}
footer {
  background: #004069;
}
header {
  text-align: center;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 7rem black;
}
header .header-top {
  background: #004069;
  padding: .1rem;
  font-size: 1.7rem;
  text-transform: uppercase;
}
header .header-top h1 {
  margin: 0;
}
header .header-top .trademark {
  font-size: 2rem;
  top: -1.3rem;
  position: relative;
}
header .header-bottom {
  background: #580421;
  padding: .1rem;
  font-size: 1.4rem;
}
header .header-bottom h2 {
  margin: 0;
}
header .header-bottom .prog-bar ul {
  margin: 0;
  padding-bottom: 1rem;
}
header .header-bottom .prog-bar ul li {
  display: inline-block;
  width: .8rem;
  height: .8rem;
  border: 1px solid;
  border-radius: 100%;
  margin: 0 0.3rem;
}
header .header-bottom .prog-bar ul .active {
  box-shadow: none!important;
}
header .header-bottom .prog-bar ul .visited {
  box-shadow: inset 0 0 4px black;
  background-color: white;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.5);
  z-index: 1;
}
.over-overly {
  z-index: 2;
}
.main {
  position: relative;
  background: url('../images/flag-bg.jpg');
  background-size: cover;
  height: 100%;
}
.main .proceed-dialog {
  position: absolute;
  width: 20rem;
  left: calc(50% - 10rem);
  z-index: 2;
  padding: 1rem;
  background: rgba(65, 65, 88, 0.95);
  color: white;
  letter-spacing: 0.7px;
}
.main .proceed-dialog li {
  margin: .5rem;
  border-top: 1px solid;
  padding: .5rem;
}
.main .proceed-dialog .userAns {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.main .proceed-dialog .userAns.Correct {
  color: green;
}
.main .proceed-dialog .userAns.Incorrect {
  color: red;
}
.main .proceed-dialog button {
  background: #004069;
  padding: 0.5rem 1rem;
}
.main .proceed-dialog button:hover {
  background: #000203;
}
.main .candidates-col {
  position: absolute;
  left: calc(50% - 3.5rem);
  top: 3rem;
}
.main .candidates-col li {
  height: 7rem;
  width: 7rem;
  border-radius: 100%;
  border: 3px solid;
  margin: 1rem auto 0;
}
.main .candidates-col li:hover {
  border: none;
}
.main .candidates-col .smallercircle {
  height: 6rem;
  width: 6rem;
}
.main .candidates-col .repub {
  color: red;
}
.main .candidates-col .dem {
  color: blue;
}
.main .candidates-col #bernie {
  background: url('../images/bernie.jpg');
  background-size: cover;
}
.main .candidates-col #trump {
  background: url('../images/trump.jpg');
  background-size: cover;
}
.main .candidates-col #hilary {
  background: url('../images/hilary.jpg');
  background-size: cover;
}
.main .candidates-col #cruz {
  background: url('../images/cruz.jpg');
  background-size: cover;
}
.main .col {
  width: 50%;
  display: inline-block;
  margin: 0 -2px;
  height: 100%;
}
.main .col .title {
  font-size: 3rem;
  text-shadow: 0 0 1.5rem #4D4E58;
}
.main .col li:not(.title) {
  height: 6rem;
  width: 6rem;
  border-radius: 100%;
  margin: 1rem auto;
  background: rgba(255, 255, 255, 0.2);
  border: 3px dotted;
  box-shadow: 0 0 3rem rgba(255, 255, 255, 0.65);
}
.main .col li:not(.title).ui-received {
  border: .1rem solid;
  padding: 1px;
}
.main .col-left {
  background-color: rgba(255, 0, 0, 0.1);
}
.main .col-right {
  background-color: rgba(0, 255, 0, 0.1);
}
#hi {
  position: absolute;
  bottom: -9rem;
  text-align: center;
  width: 100%;
  color: #004069;
}
footer {
  position: fixed;
  bottom: 0;
}
.hidden {
  display: none;
}
