* {
  border: 1px solid magenta;
  box-sizing: border-box;
}
body,
header,
footer {
  width: 100%;
  background: lightgrey;
  color: white;
}
.header-top,
.footer {
  background: #004069;
}
.header-bottom {
  background: #580421;
}
