* {
  border: 1px solid magenta;
  box-sizing: border-box;
}
body,
header,
footer {
  width: 100%;
  background: lightgrey;
  color: white;
  text-align: center;
}
.header-top,
.footer {
  background: #004069;
}
.header-bottom {
  background: #580421;
}
.main {
  position: relative;
}
.main .col {
  width: 50%;
  float: left;
}
.main .candidates-col {
  position: absolute;
  width: 6rem;
  left: calc(47%);
  top: 0;
}
